<ul>
    <li>
        <a class="navbar-brand" routerLink="/">home</a>
    </li>
    <li>
        <a class="navbar-brand" routerLink="/aboutus">About us</a>
    </li>
    <li>
        <a class="navbar-brand" routerLink="/contactus">Contact us</a>
    </li>
    <li>
        <a class="navbar-brand" routerLink="/admin">Admin</a>
    </li>
    <li>
        <label>New User ? </label>
        <a class="navbar-brand" routerLink="/userSignup">Signup</a>
    </li>
    <li>
        <label>New Vendor ? </label>
        <a class="navbar-brand" routerLink="/vendorSignup">Signup</a>
    </li>
    <li>
        <a class="navbar-brand" routerLink="/login">Login</a>
    </li> 
</ul>
