<p>login works!</p>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
          <li><a routerLink="userlist">userlist</a></li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Business Owner?</a></li>
         
          
        </ul>
      </div>
    </div>
  </nav>



<div class="container">
  <div class="center">
 <div class="main-content">
     <h1>Login Page</h1>
     <br><br>
        <div class="section-content section-content-p30">
          <div class="form-group">
            <form [formGroup]="loginForm" >
                    <label for="email">Email: </label>
                    <input type="text" id="email" formControlName="email"/><br><br>
                    <label for="password">Password: </label>
                    <input type="text" id="password" formControlName="password"/><br/>

                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="/admin" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

</div>